.wpcf7-form {


	&.sent,
	&.invalid {
		position: relative;
		padding-top: 2.2em;
		z-index: 7;
	}

	&.invalid {

		.wpcf7-not-valid {
			border: 1px dashed #ed3342 !important;
		}

		.wpcf7-not-valid-tip {
			font-size: 12px;
			position: relative;
			top: -1em;
		}

	}

	.wpcf7-response-output {
		position: absolute;
		text-align: center;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;
		font-size: 12px;
		background-color: #ddd;
		line-height: 1.25em;
	}

	.wpcf7-mail-sent-ok {
		background-color: #24890d;
		border: 1px solid #24890f;
		color: #fff;
	}

	.wpcf7-validation-errors {
		background-color: #f7e700;
		border: 1px solid #f7e700;
		color: #222;
	}

	input {

		font-weight: 500;
		font-size: 14px;
	}

}




