#variables {
	opacity: 1;
}

// Web Fonts
// ------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);
// @import url(http://fonts.googleapis.com/css?family=Michroma);
// @import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@lato: 'Lato', Arial, sans-serif !important;
@oswald: 'Oswald', sans-serif;
@arvo: 'Arvo', sans-serif;
@mont: 'Montserrat', sans-serif;

@body: 'Lato', Arial, sans-serif;
@hs: 'Lato', Arial, sans-serif;

.body-weight {
	font-weight: 400;
}

.faw {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

// .michro {
// 	font-family: @hs;
// }

.lato {
	font-family: @lato;
}

.var-hs {
	font-family: @hs;
	line-height: 1.25em;
}

.var-body {
	font-family: @body;
	line-height: 1.25em;
	color: @body-color;
	.body-weight;
}


h1,
h2,
h3,
h4,
h4,
h5,
h6 {
	.var-hs
}

// Brand colors
// ------------------------------------------------------------------

@brand:         				@accent;
@brand-light:         	lighten(@brand, 10%);
@brand-dark:         		darken(@brand, 10%);

@body-color:         		rgba(58, 58, 58, 1);

@accent: 								rgba(236, 26, 41, 1);
@accent-light:         	lighten(@accent, 10%);
@accent-dark:         	darken(@accent, 10%);


@green: 								#b3d41f;
@dark-green: 						darken(@green, 10%);

@brown:         				#493B24;
@blue:									#0d499c;
@red:										#d50505;

@white: 								#ffffff;
@black:									#000000;

@gray:									#959595;
@gray-light:						lighten(@gray, 10%);
@gray-dark:							darken(@gray, 10%);



.blue {
	color: @blue !important;
}

.fff {
	color: @white !important;
}

.accent {
	color: @accent !important;
}



// Gradients
// ------------------------------------------------------------------
.gr-blue() {
	background: #004676;
	background: -moz-linear-gradient(top,  #004676 0%, #00223c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004676), color-stop(100%,#00223c));
	background: -webkit-linear-gradient(top,  #004676 0%,#00223c 100%);
	background: -o-linear-gradient(top,  #004676 0%,#00223c 100%);
	background: -ms-linear-gradient(top,  #004676 0%,#00223c 100%);
	background: linear-gradient(to bottom,  #004676 0%,#00223c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004676', endColorstr='#00223c',GradientType=0 );
}

.gr-gray {
	background: #4b4b4b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTg5ODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4b4b4b 0%, #898989 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#898989));
	background: -webkit-linear-gradient(top,  #4b4b4b 0%,#898989 100%);
	background: -o-linear-gradient(top,  #4b4b4b 0%,#898989 100%);
	background: -ms-linear-gradient(top,  #4b4b4b 0%,#898989 100%);
	background: linear-gradient(to bottom,  #4b4b4b 0%,#898989 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#898989',GradientType=0 );

}

.gr-red {
	background: #ad1c20;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkMWMyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZjIwMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ad1c20 0%, #8f201d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ad1c20), color-stop(100%,#8f201d));
	background: -webkit-linear-gradient(top,  #ad1c20 0%,#8f201d 100%);
	background: -o-linear-gradient(top,  #ad1c20 0%,#8f201d 100%);
	background: -ms-linear-gradient(top,  #ad1c20 0%,#8f201d 100%);
	background: linear-gradient(to bottom,  #ad1c20 0%,#8f201d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1c20', endColorstr='#8f201d',GradientType=0 );

}

// Buttons
// ------
.btn-lm {
	color: @white;
	&:after {
		display: inline-block;
		content: "\f101";
		// content: "\f054";
		color: @accent;
		.faw;
		padding-left: 1.5rem;
		text-decoration: none !important;
	}

	&:hover {
		color: #f7f7f7;
		text-decoration: underline;
	}
}

// Margins & Paddings
// ------------------------------------------------------------------
.dbl {
	display: block;
}

.mb2 {
	margin-bottom: 20px !important;
}

.row.fw-row .pt65 {
	padding-top: 6.5rem;
}

.row.fw-row .pb65 {
	padding-bottom: 6.5rem;
}

.a-mb {
	a {
		display: inline-block;
		margin-bottom: 1rem;
	}
}

.pl0 {
	padding-left: 0 !important;
}

.pr0 {
	padding-right: 0 !important;
}




// Font Sizes
// ------------------------------------------------------------------
.ttu {
	text-transform: uppercase;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.sm-tar {
	text-align: center;
}

.fwb {
	font-weight: 900;
}

.fwsb {
	font-weight: 700;
}

.fwn {
	font-weight: 400;
}

.fwl {
	font-weight: 300;
}

.fz16 {
	font-size: 1.6rem;
	line-height: 1.2em;
}

.fz18 {
	font-size: 1.8rem;
	line-height: 1.2em;
}

.fz20 {
	font-size: 2rem;
	line-height: 1.2em;
}

.fz22 {
	font-size: 2.2rem !important;
	line-height: 1.2em;
}

.fz24 {
	font-size: 2.4rem !important;
	line-height: 1.2em;
}

.fz26 {
	font-size: 2.6rem;
	line-height: 1.2em;
}

.fz28 {
	font-size: 2.8rem;
	line-height: 1.2em;
}

.fz29 {
	font-size: 2.9rem;
	line-height: 1.2em;
}

.fz30 {
	font-size: 3rem;
	line-height: 1.2em;
}

.fz32 {
	font-size: 3.2rem;
	line-height: 1.2em;
}

.fz34 {
	font-size: 3.4rem;
	line-height: 1.2em;
}

.fz36 {
	font-size: 3.6rem;
	line-height: 1.2em;
}

.fz38 {
	font-size: 3.8rem;
	line-height: 1.15em;
}

.fz40 {
	font-size: 4.0rem;
	line-height: 1.15em;
}

.fz42 {
	font-size: 4.2rem;
	line-height: 1.15em;
}

.fz44 {
	font-size: 4.4rem;
	line-height: 1.15em;
}

.fz46 {
	font-size: 4.6rem;
	line-height: 1.15em;
}

.fz48 {
	font-size: 4.8rem;
	line-height: 1.15em;
}

.spacer {
	color: transparent;
	display: block;
	width: 100%;
		line-height: 1em;
	margin-bottom: 1rem;
}

.bdt1pf {
	border-top: 1px solid @white;
}

.bdt1p0 {
	border-top: 1px solid #000;
}



// HTML input placeholder
// ------------------------------------------------------------------
::-webkit-input-placeholder {
   color: @gray;
}

:-moz-placeholder {
   color: @gray;
}

::-moz-placeholder {
   color: @gray;
}

:-ms-input-placeholder {
   color: @gray;
}


// *====================================================================================================
//             Bootstrap 3 Media Queries
// =====================================================================================================

// ==========  Mobile First Method  ==========
// =====================================================================================================

// Custom, iPhone Retina
@media only screen and (min-width : 320px) {


}

// Extra Small Devices, Phones  =========================
@media only screen and (min-width : 480px) {


}

// Small Devices, Tablets   =============================
@media only screen and (min-width : 768px) {


}



// Medium Devices, Desktops  ============================
@media only screen and (min-width : 992px) {


}

// Large Devices, Wide Screens  =========================
@media only screen and (min-width : 1200px) {


}



// ==========  Non-Mobile First Method  ==========
// =====================================================================================================

// Large Devices, Wide Screens  =========================
@media only screen and (max-width : 1200px) {


}

// Medium Devices, Desktops  ============================
@media only screen and (max-width : 992px) {


}

// Small Devices, Tablets  ==============================
@media only screen and (max-width : 768px) {


}

// Small Devices, Tablets  ==============================
@media only screen and (max-width : 767px) {

	.xstac {
		text-align: center;
	}

}

// Extra Small Devices, Phones  =========================
@media only screen and (max-width : 480px) {


}

// Custom, iPhone Retina  ===============================
@media only screen and (max-width : 350px) {


}

// Custom, iPhone Retina  ===============================
@media only screen and (max-width : 320px) {


}



